[Version]
ConfigVersion=3.8

[VIC20]
AutostartPrgMode=1
BinaryMonitorServer=1
JAMAction=2
KeepMonitorOpen=0
KernalName="kernal.901486-06.bin"
MachineVideoStandard=2
MonitorLogEnabled=0
MonitorServer=1
Printer4=1
RAMBlock1=1
SaveResourcesOnExit=0
VICBorderMode=3
VICColorGamma=1890
VICDoubleScan=0
VICDoubleSize=0
VICFilter=0
VICPALBlur=679
VICPALOddLineOffset=1108
VICPALOddLinePhase=1080
VICPALScanLineShade=638
VirtualDevice4=1
Window0Height=377
Window0Width=376
Window0Xpos=916
Window0Ypos=38

