[Version]
ConfigVersion=3.8

[VIC20]
JAMAction=2
VirtualDevice4=1
KernalName="kernal.901486-06.bin"
MachineVideoStandard=2
VICDoubleScan=0
VICDoubleSize=0
VICColorGamma=1890
VICPALScanLineShade=638
VICPALBlur=679
VICPALOddLinePhase=1080
VICPALOddLineOffset=1108
VICFilter=0
VICBorderMode=3
Printer4=1
AutostartPrgMode=1
Drive8Type=1541
KeepMonitorOpen=0
MonitorServer=1
BinaryMonitorServer=1

